.advantage {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5rem;

  &:first-child .advantage__text {
    //only for mobile
    @media (max-width: @tablet-width - 1px) {
      padding-top: 51px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 45px;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantage--with-img {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantage--with-img-rev {
  @media (min-width: @tablet-width) {
    grid-template-columns: 2fr 1fr;

    .advantage__text {
      order: 2;
    }

    img {
      order: 1;
    }
  }
}

.advantage__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 37px 12px 38px 12px;
  text-align: center;
  text-transform: uppercase;
  background-color: @background-color;
  color: @text-alt-color;

  @media (min-width: @tablet-width) {
    padding: 30px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    padding: 51px 60px;
  }
}

.advantage__title {
  margin: 0 0 10px 0;
  color: inherit;
  word-spacing: 0;

  @media (min-width: @tablet-width) {
    max-width: 150px;
    margin: 0 0 12px 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.advantage__number {
  margin: 0 0 18px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 25px 0;
  }
}

.advantage__description {
  margin: 0;
  word-spacing: 0;

  @media (min-width: @tablet-width) {
    word-spacing: -1px;
  }
}

.advantage__img {
  width: 100%;
  display: block;

  @media (min-width: @tablet-width) {
    height: 256px;
  }
}

.advantage__recommendation {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 auto;
  padding: 37px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 62px 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 80px;
  }
}

.advantage--alternative-style {
  position: relative;

  .advantage__text {
    padding: 26px 35px;
    background: @background-alt-color;
    color: @text-color;

    @media (min-width: @tablet-width) {
      padding: 42px 40px;
      justify-content: flex-start;
    }

    @media (min-width: @desktop-width) {
      min-height: 257px;
      box-sizing: border-box;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 6%;
    z-index: 1;
    width: 88%;
    height: 1px;
    background-color: @line-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    display: none;
  }

  .advantage__description {
    @media (min-width: @tablet-width) {
      word-spacing: 0;
    }
  }
}
