.advantage {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5rem;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantage--with-img {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantage--with-img-rev {
  @media (min-width: @tablet-width) {
    grid-template-columns: 2fr 1fr;

    .advantage__text {
      order: 2;
    }

    img {
      order: 1;
    }
  }
}

.advantage__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 12px;
  text-align: center;
  text-transform: uppercase;
  background-color: @background-color;
  color: @text-alt-color;

  @media (min-width: @tablet-width) {
    padding: 40px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px;
  }
}

.advantage__title {
  margin: 0 0 10px 0;
  color: inherit;

  @media (min-width: @tablet-width) {
    max-width: 150px;
    font-size: 1.5rem;
  }
}

.advantage__number {
  margin: 0 0 15px 0;
}

.advantage__description {
  margin: 0;
}

.advantage__img {
  width: 100%;
  height: 260px;
  display: block;
}

.advantage__recommendation {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 auto;
  padding: 35px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 60px 20px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 80px;
  }
}

.advantage--alternative-style {
  position: relative;

  .advantage__text {
    padding: 25px;
    background: @background-alt-color;
    color: @text-color;

    @media (min-width: @tablet-width) {
      padding: 42px 40px 62px 40px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: 1;
    width: 90%;
    height: 1px;
    background-color: @line-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    display: none;
  }
}
