.advantages {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.advantages__description {
  font-size: 1rem;
  line-height: 1.86rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    word-spacing: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 43px;
  }
}

.advantages__main-description {
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 1.285rem;
  line-height: 1.86rem;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 1.5rem;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  .drop__list-style;
  clip-path: polygon(0 0, 50% 0.8%, 100% 0, 100% 100%, 0 100%);

  @media (min-width: @tablet-width) {
    clip-path: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
