.controls {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr repeat(2, 1fr);
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "range range range range"
    "repeat empty sub full";
  margin: 0 20px;
  margin-top: -45px;
  padding: 0 8px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 40px 0 35px;
    grid-template-columns: 48px 1fr 64px 41px;
    grid-template-areas: "repeat range sub full";
    grid-template-rows: 93px;
    gap: 10px;
    align-items: center;
    position: relative;
    top: -93px;
    margin-bottom: -93px;
    background-color: rgba(@text-color, 0.6);
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: calc(100% - 45px); //вычитаем высоту прокрутки, на случай, если количество элементов увеличится
    left: 0;
    bottom: 0;
    background-color: @background-btns-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.controls__button {
  min-height: 66px;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;

  svg {
    color: @video-buttons-color;

    @media (min-width: @tablet-width) {
      color: @text-alt-color;
    }
  }

  &:hover svg {
    color: @svg-fill;

    @media (min-width: @tablet-width) {
      color: @text-alt-color;
      opacity: 0.6;
    }
  }

  &:active svg,
  &:focus svg {
    opacity: 0.3;
  }
}

.controls__button--replay {
  grid-area: repeat;

  @media (min-width: @tablet-width) {
    justify-self: start;
  }
}

.controls__range {
  grid-area: range;
  left: -8px;
  width: calc(100% + 16px);
  height: 45px;
}

.controls__button--sub {
  grid-area: sub;
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}

.controls__button--fullscreen {
  grid-area: full;

  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}
