.form-review__fieldset {
  padding: 20px 20px 0 20px;
  margin: 0 0 24px 0;
  border: none;
  border-top: 1px solid rgba(@border-color, 0.1);

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    border-top: none;
  }
}

// ******************************************
// ТЕКСТОВЫЕ ИНПУТЫ
.form-review__title {
  text-align: center;
  margin: 0 0 22px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 0 57px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: calc((100% - 400px) / 2); // 350px - максимальная ширина контента + 50px отступ
      height: 1px;
      background-color: rgba(@border-color, 0.1);
    }

    &::before {
      top: 50%;
      left: 0;
    }

    &::after {
      top: 50%;
      right: 0;
    }
  }
}

.form-review__title-text {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.form-review__field {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  width: 100%;
}

.form-review__label {
  line-height: 1.86rem;
  text-transform: uppercase;
  margin-right: 15px;
}

.form-review__text {
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 1.3rem;
  line-height: 1.86rem;
  display: inline-block;
  width: 100%;
  min-height: 58px;
  padding: 16px 20px;
  box-sizing: border-box;
  border: none;
  background-color: @background-btns-color;

  &::placeholder {
    color: @text-color;
  }

  &:hover:not(:focus) {
    background-color: @disabled-color;
  }

  &:focus {
    background-color: @text-alt-color;
    outline: 4px solid @disabled-color;
  }
}

// ******************************************
// FIO
.form-review__fieldset--fio {
  .form-review__field:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    order: 2;
    position: relative;
    margin-bottom: 20px;
    padding-left: 58px;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: -0;
      top: 0;
      background-color: rgba(@border-color, 0.1);
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 82px;
  }

  .form-review__title {
    @media (min-width: @tablet-width) {
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .form-review__title-text {
    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

// ******************************************
// CONTACTS
.form-review__fieldset--contacts {
  @media (min-width: @tablet-width) {
    order: 3;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .form-review__field {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 24px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 17px;
      align-items: center;
      margin-bottom: 0;
    }
  }

  .form-review__title {
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      margin: 0 0 22px 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0 0 73px 0;
    }
  }

  .form-review__label {
    margin: 0 0 8px 21px;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  .form-review__text {
    padding: 17px 62px 15px 21px;

    @media (min-width: @desktop-width) {
      width: 316px;
    }
  }

  .hidden {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.form-review__wrapper-contacts {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form-review__field--phone,
.form-review__field--email {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @background-icons-color;
  }
  .form-review__img {
    position: absolute;
    vertical-align: middle;
    right: 20px;
    bottom: 20px;
  }
}

.form-review__field--phone {
  &::before {
    @media (min-width: @desktop-width) {
      right: 80px;
    }
  }
  .form-review__img {
    @media (min-width: @desktop-width) {
      right: 100px;
    }
  }
}

.form-review__field--email {
  .form-review__img {
    bottom: 22px;
    right: 21px;
  }
}

// ******************************************
// РАДИОБАТОНЫ
.form-review__radio {
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 1.3rem;
  line-height: 1.86rem;
  margin: 0;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-review__label-radio {
  position: relative;
  padding-left: 77px;
  min-height: 55px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    border-radius: 50%;
    background-color: @background-btns-color;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: calc(50% - 11px);
    left: 17px;
    border-radius: 50%;
    background-color: @svg-fill;
  }

  &:hover::before {
    background-color: @disabled-color;
  }
}

.form-review__input-radio {
  .visually-hidden;

  &:checked {
    & ~ .form-review__label-radio::after {
      display: block;
    }

    &:active ~ .form-review__label-radio::after,
    &:focus ~ .form-review__label-radio::after {
      opacity: 0.3;
    }
  }

  &:active ~ .form-review__label-radio::before,
  &:focus ~ .form-review__label-radio::before {
    background-color: @checkbox-active-color;
  }
}

// ******************************************
// IMPRESSION
.form-review__fieldset--impression {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 20px;
  }

  .form-review__title {
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      text-align: left;
      margin-bottom: 60px;

      &::before,
      &::after {
        display: none;
      }
    }

    @media (min-width: @desktop-width) {
      text-align: right;
    }
  }

  .form-review__title-text {
    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

.form-review__wrapper-impression {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: start;
  gap: 13px;

  @media (min-width: @tablet-width) {
    gap: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 3px;
  }
}

// ******************************************
// ЧЕКБОКСЫ
.form-review__checkbox {
  margin: 0;
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 1.3rem;
  line-height: 1.86rem;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-review__label-checkbox {
  padding-left: 80px;
  min-height: 55px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-color: @background-btns-color;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 9px;
    height: 17px;
    top: calc(50% - 14px);
    left: 21px;
    border-bottom: 3px solid @text-color;
    border-right: 3px solid @text-color;
    transform: rotate(45deg);
    background-color: transparent;
  }

  &:hover::before {
    background-color: @disabled-color;
  }
}

.form-review__input-checkbox {
  .visually-hidden;

  &:checked {
    & ~ .form-review__label-checkbox::after {
      display: block;
    }

    &:active ~ .form-review__label-checkbox::after,
    &:focus ~ .form-review__label-checkbox::after {
      opacity: 0.3;
    }
  }

  &:active ~ .form-review__label-checkbox::before,
  &:focus ~ .form-review__label-checkbox::before {
    background-color: @checkbox-active-color;
  }
}
// ******************************************
// VISITED
.form-review__fieldset--visited {
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    order: 4;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 20px;
    padding-top: 0;
  }

  .form-review__title {
    @media (min-width: @tablet-width) {
      margin: 0 0 47px 0;
    }
  }
}

.form-review__wrapper-visited {
  display: grid;
  justify-content: start;
  gap: 25px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 203px);
    justify-content: center;
    gap: 33px 56px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    gap: 0;
  }

  .form-review__checkbox {
    @media (min-width: @tablet-width) {
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: center;
    }

    &:first-child {
      @media (min-width: @desktop-width) {
        justify-content: flex-start;
      }
    }
  }
}

// ******************************************
// TEXTAREA
.form-review__text--textarea {
  height: 160px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;

  @media (min-width: @tablet-width) {
    padding: 18px 20px;
  }
}

// ******************************************
// COMMENT
.form-review__fieldset--comment {
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    order: 5;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 5px;
  }

  .form-review__title {
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      margin-bottom: 56px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 53px;
    }
  }
}

// ******************************************
// КНОПКА
.form-review__button {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    order: 6;
    margin: 0;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 32px;
  }
}

// ******************************************
// ПРИМЕЧАНИЕ
.form-review__tip {
  line-height: 1.86rem;
  text-transform: uppercase;
  margin: 0;
  height: 0;
  visibility: hidden;

  @media (min-width: @tablet-width) {
    visibility: visible;
    height: auto;
    align-self: center;
    justify-self: end;
    margin-top: 10px;
    order: 7;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}
