.form-review__fieldset {
  padding: 20px 20px 0 20px;
  margin: 0 0 26px 0;
  border: none;
  border-top: 1px solid rgba(@border-color, 0.1);

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    border-top: none;
  }
}

// ******************************************
// ТЕКСТОВЫЕ ИНПУТЫ
.form-review__title {
  text-align: center;
  margin: 0 0 20px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 0 50px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: calc((100% - 400px) / 2); // 350px - максимальная ширина контента + 50px отступ
      height: 1px;
      background-color: rgba(@border-color, 0.1);
    }

    &::before {
      top: 50%;
      left: 0;
    }

    &::after {
      top: 50%;
      right: 0;
    }
  }
}

.form-review__title-text {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.form-review__field {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  width: 100%;
}

.form-review__label {
  line-height: 1.86rem;
  text-transform: uppercase;
  margin-right: 10px;
}

.form-review__text {
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 1.3rem;
  line-height: 1.86rem;
  display: inline-block;
  width: 100%;
  min-height: 58px;
  padding: 16px 20px;
  box-sizing: border-box;
  border: none;
  background-color: @background-btns-color;

  &::placeholder {
    color: @text-color;
  }

  &:hover:not(:focus) {
    background-color: @disabled-color;
  }

  &:focus {
    background-color: @text-alt-color;
    outline: 4px solid @disabled-color;
  }
}

// ******************************************
// FIO
.form-review__fieldset--fio {
  .form-review__field:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    order: 2;
    position: relative;
    margin-bottom: 20px;
    padding-left: 55px;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: -0;
      top: 0;
      background-color: rgba(@border-color, 0.1);
    }
  }

  .form-review__title {
    @media (min-width: @tablet-width) {
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .form-review__title-text {
    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

// ******************************************
// CONTACTS
.form-review__fieldset--contacts {
  @media (min-width: @tablet-width) {
    order: 3;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .form-review__field {
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 10px;
      align-items: center;
      margin-bottom: 0;
    }
  }

  .form-review__title {
    @media (min-width: @tablet-width) {
      margin: 0 0 20px 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0 0 70px 0;
    }
  }

  .form-review__label {
    margin: 0 0 8px 20px;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  .form-review__text {
    padding: 16px 62px 16px 20px;

    @media (min-width: @desktop-width) {
      width: 316px;
    }
  }

  .hidden {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.form-review__wrapper-contacts {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.form-review__field--phone,
.form-review__field--email {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @background-icons-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.form-review__field--phone::after {
  background-image: url("/img/icons/phone.svg");
  background-size: 18px 18px;

  @media (min-width: @desktop-width) {
    right: 80px;
  }
}

.form-review__field--email::after {
  background-image: url("/img/icons/mail.svg");
  background-size: 16px 12px;
}

// ******************************************
// РАДИОБАТОНЫ
.form-review__radio {
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 1.3rem;
  line-height: 1.86rem;
  margin: 0;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-review__label-radio {
  position: relative;
  padding-left: 76px;
  min-height: 50px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    border-radius: 50%;
    background-color: @background-btns-color;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 15px;
    border-radius: 50%;
    background-color: @svg-fill;
  }

  &:hover::before {
    background-color: @disabled-color;
  }
}

.form-review__input-radio {
  display: none;

  &:checked {
    & ~ .form-review__label-radio::after {
      display: block;
    }

    &:active ~ .form-review__label-radio::after {
      opacity: 0.3;
    }
  }

  &:active ~ .form-review__label-radio::before {
    background-color: @checkbox-active-color;
  }
}

// ******************************************
// IMPRESSION
.form-review__fieldset--impression {
  @media (min-width: @tablet-width) {
    order: 1;
  }

  .form-review__title {
    @media (min-width: @tablet-width) {
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .form-review__title-text {
    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

.form-review__wrapper-impression {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: start;
  gap: 24px;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }
}

// ******************************************
// ЧЕКБОКСЫ
.form-review__checkbox {
  margin: 0;
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 1.3rem;
  line-height: 1.86rem;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-review__label-checkbox {
  padding-left: 76px;
  min-height: 50px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0;
    background-color: @background-btns-color;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 7px;
    height: 14px;
    top: calc(50% - 12px);
    left: 20px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    transform: rotate(45deg);
    background-color: transparent;
  }

  &:hover::before {
    background-color: @disabled-color;
  }
}

.form-review__input-checkbox {
  display: none;

  &:checked {
    & ~ .form-review__label-checkbox::after {
      display: block;
    }

    &:active ~ .form-review__label-checkbox::after {
      opacity: 0.3;
    }
  }

  &:active ~ .form-review__label-checkbox::before {
    background-color: @checkbox-active-color;
  }
}

// ******************************************
// VISITED
.form-review__fieldset--visited {
  @media (min-width: @tablet-width) {
    order: 4;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 20px;
  }
}

.form-review__wrapper-visited {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: start;
  gap: 34px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 40px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }

  .form-review__checkbox {
    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

// ******************************************
// TEXTAREA
.form-review__text--textarea {
  height: 160px;
  width: 100%;
  padding: 13px 20px;
  box-sizing: border-box;
  resize: none;
}

// ******************************************
// COMMENT
.form-review__fieldset--comment {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    order: 5;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 0;
  }
}

// ******************************************
// КНОПКА
.form-review__button {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    order: 6;
    margin: 0;
  }
}

// ******************************************
// ПРИМЕЧАНИЕ
.form-review__tip {
  line-height: 1.86rem;
  text-transform: uppercase;
  margin: 0;
  height: 0;
  visibility: hidden;

  @media (min-width: @tablet-width) {
    visibility: visible;
    height: auto;
    align-self: center;
    justify-self: end;
    order: 7;
  }
}
