.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  background-image: url("../img/background-imgs/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
