.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 100px;
  }
}

.page-header--index {
  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.page-header__wrapper {
  background-color: @text-color;
  background-image: url("/img/background-imgs/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 138px, 50% 100%, 0% 138px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 158px;

  img {
    width: 100%;
    max-width: 230px;

    @media (min-width: @tablet-width) {
      max-width: 457px;
      height: auto;
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 290px;
    background-image: url("/img/background-imgs/back-desktop.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 260px, 95% 265px, 95% 243px, 50% 100%, 5% 243px, 5% 265px, 0% 260px);
  }

  @media (min-width: @desktop-width) {
    min-height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 243px, 84% 265px, 84% 243px, 50% 100%, 16% 243px, 16% 265px, 0% 243px);
  }
}

.page-header--index .page-header__wrapper {
  min-height: 390px;
  clip-path: polygon(0 0, 100% 0, 100% 370px, 50% 100%, 0% 370px);

  img {
    max-width: 282px;

    @media (min-width: @tablet-width) {
      max-width: 460px;
      height: auto;
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 518px;
    clip-path: polygon(0 0, 100% 0, 100% 475px, 95% 480px, 95% 460px, 50% 100%, 5% 460px, 5% 480px, 0% 475px);
  }

  @media (min-width: @desktop-width) {
    clip-path: polygon(0 0, 100% 0, 100% 460px, 84% 485px, 84% 460px, 50% 100%, 16% 460px, 16% 485px, 0% 460px);
  }
}
