.presentation {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin: 0 60px 40px 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 200px 85px 200px;
  }
}

.presentation__title {
  text-align: center;
  padding: 0 20px;
  margin: 0 auto 25px auto;
  max-width: 458px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.presentation__description {
  line-height: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 450px;
  padding: 0 20px;
  margin: 0 auto 30px auto;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 60px;
  }
}

.presentation__video {
  width: 100%;
  height: auto;
  display: block;
}
