.presentation {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin: 0 60px 44px 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 200px 85px 200px;
  }
}

.presentation__title {
  text-align: center;
  padding: 0 20px;
  margin: 0 auto 30px auto;
  max-width: 458px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0 auto 35px auto;
  }
}

.presentation__description {
  line-height: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 450px;
  padding: 0 25px;
  margin: 0 auto 35px auto;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 80px;
  }
}

.presentation__video {
  width: 100%;
  height: auto;
  min-height: 201px;
  display: block;
  background-image: url("/img/video/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/video/video-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("/img/video/video-tablet.jpg");
    min-height: 501px;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/video/video-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/video/video-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/video/video-desktop@2x.jpg");
    }
  }
}
