.range {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 22px;
  position: relative;
  background-color: rgba(@text-color, 0.6);

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: transparent;
  }
}

.range__line {
  width: 100%;
  height: 3px;
  background: rgba(@text-alt-color, 0.2);
  outline: none;
  display: block;
}

.range__pointer {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: @text-alt-color;
  border-radius: 50%;
  top: calc(50% - 5px);
  left: 20%;

  @media (min-width: @tablet-width) {
    left: 30%;
  }

  @media (min-width: @desktop-width) {
    left: 21.5%;
  }

  &:hover {
    transform: scale(1.2);
  }
}
