.recommendation {
  .drop__list-style;
}

.recommendation__item {
  padding-left: 50px;
  margin: 0 0 29px 0;
  position: relative;
  display: block;

  @media (min-width: @tablet-width) {
    max-width: 193px;
    padding-left: 0;
    padding-top: 97px;
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 282px;
  }

  &:last-child {
    @media (max-width: @tablet-width - 1px) {
      margin: 0;
    }
  }
}

.recommendation__img {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: 0;
  // background-repeat: no-repeat;
  // background-size: contain;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 75px;
    top: 0;
    // background-position: center bottom;
  }
}

.recommendation__item--apartment {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.recommendation__item--souvenir {
  .recommendation__img {
    top: -13px;

    @media (min-width: @tablet-width) {
      left: 0;
      top: -4px;
    }
  }

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    max-width: 268px;
  }
}

.recommendation__item--food {
  .recommendation__img {
    top: -8px;
    left: -2px;

    @media (min-width: @tablet-width) {
      height: 70px;
      top: 2px;
      left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.recommendation__title {
  margin: 0 0 16px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 23px 0;
  }
}

.recommendation__description {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.48rem;
}
